html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14pt;
  line-height: 1.5;
}
body {
  background-color: #f3e1c2;
  color: #135c7e;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
li::before {
  content: '►';
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #e2815a;
  text-decoration: underline;
}
tr:hover {
  background-color: #eeeeee;
}
.cation {
  color: #d12d24;
}
.box {
  margin: 0 auto;
  max-width: 1024px;
}
.box .top {
  padding: 24px 64px;
}
.box .middle {
  display: flex;
  flex-flow: row nowrap;
}
.box .middle .menu {
  flex-grow: 0;
  flex-shrink: 0;
  min-width: 150px;
  padding: 0 36px 0 16px;
}
.box .middle .content {
  flex-grow: 1;
  flex-shrink: 1;
}
.gallery {
  width: 100%;
}
.gallery-index {
  min-width: 64px;
}
.gallery-title {
  min-width: 256px;
}
.gallery-header {
  font-weight: bold;
}
.gallery-row {
  font-weight: normal;
}
.gallery-image {
  width: 512px;
}
.gallery-image-full {
  width: 100%;
}
.users {
  width: 100%;
}
.users-index {
  min-width: 64px;
}
.users-login {
  min-width: 256px;
}
.users-header {
  font-weight: bold;
}
.users-row {
  font-weight: normal;
}
